:root {
    --header-color: #9265bb;
    --page-bg-color: #ffffff;

    --primary-color-01: #b6a3d9;
    --primary-color-02: #9774b8;
    --dim-primary-color: var(--primary-color-02);
    --active-color: #efe2ff;
    --border-color: var(--primary-color-02);

    /* Page text color */
    --text-color: #000000;
}

/* Custom font */
@font-face {
    font-family: rainyhearts;
    src: url('assets/rainyhearts.ttf');
}

body,
html {
    font-family: 'rainyhearts', sans-serif;
    font-size: 1.1em;
    font-weight: 440;

    cursor: url('assets/arrow.png'), auto;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    column-gap: 1em;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: var(--header-color);
    border-bottom: 2px dotted #ffffff;

    text-align: center;
    padding: 1em;
    margin-bottom: 1.3em;
    width: 100%;
}

.header-inner h2 {
    color: var(--active-color)
}

h1 {
    margin: 0.1em;
}

h1,
h2 {
    color: var(--primary-color-02);
}

body {
    background-image: url("assets/bg.png");
    background-size: 32px;
    background-repeat: repeat;

    height: 100vh;
}

table th {
    text-align: left;
    color: #ffffff;
    border: 1px solid var(--border-color);
    background-color: var(--dim-primary-color);
}

table td {
    border: 1px solid var(--border-color);
}

.header h1,
.header h2 {
    margin: 0;
    padding: 0;

    margin-bottom: 0.4em;
}

.menu-icon {
    color: var(--active-color);
    display: none;
}

.site-nav {
    display: flex;
    justify-content: center;
}

.site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.site-nav ul li {
    margin-right: 1em;
}

.page-content {
    display: flex;
    flex-direction: column;


    background-color: var(--page-bg-color);
    border: 1px solid var(--border-color);
    border-top: 5px solid var(--primary-color-02);

    padding: 1em;
    width: 70vw;
    height: auto;
}

.page-content p {
    max-width: 1000px;
}

.page-content :not(:first-child) {
    margin: 0;
    padding-top: 0.5em;
}

.site-nav a:not(.curr-page):link,
.site-nav a:not(.curr-page):visited {
    color: #ffffff;
    cursor: url('assets/hand.png'), pointer;
    text-decoration: underline
}

.curr-page {
    color: var(--active-color);
    text-decoration: underline;
}

a {
    color: var(--dim-primary-color);
    text-decoration: underline;
}

a:hover {
    /* color: var(--dim-primary-color); */
    cursor: url('assets/hand.png'), pointer;
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

.image-container {
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
}

.border-image {
    border: 1px solid var(--border-color);
    max-width: calc(40% - 3em);

    object-fit: cover;
    padding: 1em;
}

/* ------------------- */
/* Project list */
#project-list span li:not(first-child) {
    margin-top: 1em;
}

#project-list span li {
    margin-bottom: 0.2em;
}


/* ------------------- */
/* Journal rendering */
.journal-entry {
    display: flex;
    flex-direction: column;
}

.journal-entry h3 {
    font-size: 0.9em;
}

.journal-entry p {
    font-size: 1em;
}

.journal-entry * {
    margin: 0;
    padding: 0;
}

/* --------------------------------- */
/* Media queries for mobile devices */
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media (min-width: 360px) and (max-width: 812px),
(min-width: 375px) and (max-width: 812px),
(min-width: 768px) and (max-width: 1024px) {

    .header-inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .page {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .page-content {
        width: 90vw;
        margin: auto;
        border: 1px solid var(--border-color);
        border-top: 5px solid var(--primary-color-02);

    }

    .menu-icon {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 1em;
    }

    .site-nav {
        position: absolute;
        visibility: hidden;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        transition: transform 0.2s ease-in;
    }

    .site-nav.show {
        visibility: visible;
        background-color: var(--header-color);
        transform: translateY(55%);
        height: auto;
    }

    .site-nav ul {
        list-style-type: none;
        width: 100%;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* Align items to the left */
    }


    .site-nav ul li {
        margin: 0.5em 1.0em;
    }
}